
@font-face{
  src: url('../fonts/SuperbaBold Roman.ttf');
  font-family: 'SuperbaBoldRoman';
}

.header{
  background-image: url('../images/background.png');
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
}
body{
  margin: 0px;
}
.heading{
  font-size: 70px;
  font-family: 'SuperbaBoldRoman';
  
}
