@font-face{
	src: url('../fonts/GrandHotel-Regular.otf');
	font-family: 'grand';
}

.header_bg{
	background-color: #303030;
}
.header_heading{
	font-size: 7vw;
	color: #f6cf43;
	font-family: 'grand';
}
.header_sub_heading{
	color: white;
}
.header_btn{
	background-color: #f6cf43;
}